[database]
dbname = postgres
user = postgres
password = type_your_password_here
host = localhost
port = 5433
schema = biodiv

[demo_mode]
demo = True

[deduplicate_taxon]
config-filename = deduplicate_taxon_config.json

[transform_db]
# scientificnames-limit: number | empty for all
# scientificnames-limit =
scientificnames-limit = 200

[gbif_match]
# scientificnames-limit: number | empty for all
# scientificnames-limit =
scientificnames-limit = 100

[vernacular_names]
# taxa-limit: number | empty for all
# taxa-limit =
taxa-limit = 100

[annex_scientificname]
# taxa-limit: number | empty for all
# taxa-limit = 500
taxa-limit =

[annex_scientificname_to_scientificname]'
scientificnames-limit =
