[database]
dbname = postgres
user = postgres
password = type_your_password_here
host = localhost
port = 5433
schema = biodiv

[transform_db]
# scientificnames-limit: number | empty for all
# scientificnames-limit =
scientificnames-limit = 200

[gbif_match]
# scientificnames-limit: number | empty for all
# scientificnames-limit =
scientificnames-limit = 100

[vernacular_names]
# taxa-limit: number | empty for all
# taxa-limit =
taxa-limit = 100

[scientificnameannex]
# taxa-limit: number | empty for all
# taxa-limit = 500
taxa-limit =
